::-webkit-scrollbar {
	width: 0.5rem;
}
::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.icon-bg {
	@apply absolute inset-0 -z-10;
}
.icon-bg svg {
	@apply h-3 w-3 ml-[0.44rem] mt-[0.44rem] 
    text-white bg-white;
}
